<div class="card-body">
	<form novalidate (ngSubmit)="saveProduct()" [formGroup]="productForm">
		<fieldset>
			<legend> Basic Product Information</legend>
			<div class="form-group row mb-2">
				<label class="col-md-2 col-form-label" for="productNameId">Product Name</label>
				<div class="col-md-8">
					<input class="form-control"
                id="productNameId"
                type="text"
                placeholder="Name (Required)"
                formControlName="productName"
                [ngClass]="{'is-invalid': displayMessage.productName }">
					<span class="invalid-feedback">{{ displayMessage.productName}}</span>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label class="col-md-2 col-form-label" for="productCodeId">Product Code</label>
				<div class="col-md-8">
					<input class="form-control"
                id="productCodeId"
                type="text"
                placeholder="Code (Required)"
                formControlName="productCode"
                [ngClass]="{'is-invalid': displayMessage.productCode }">
					<span class="invalid-feedback">{{ displayMessage.productCode}}</span>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label class="col-md-2 col-form-label" for="starRatingId">Star Rating (1-5)</label>
				<div class="col-md-8">
					<input class="form-control"
                id="starRatingId"
                type="text"
                placeholder="Rating (Required)"
                formControlName="starRating"
                [ngClass]="{'is-invalid': displayMessage.starRating }">
					<span class="invalid-feedback">{{ displayMessage.starRating}}</span>
				</div>
			</div>
		</fieldset>
	</form>
</div>