/* my-loader.component.css */
.loading-spinner{    
    background-color: #0000001f;
    position: fixed;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    display: grid;
    z-index: 15;
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.loading-spinner img{
    align-self: end;
}

.loading-message{
    text-align: center;
    align-self: start;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}