<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <form novalidate (ngSubmit)="saveProduct()" [formGroup]="productForm">
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="productForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!productForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/products']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this product"
                  (click)="deleteProduct()">
            Delete
          </button>
        </div>
      </div>
      
    </form>
  </div>
   <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
  </div>
